{% extends 'layout.html' %}

{% block body %}
<form action="/users/signin/" method="POST" id="regForm">
    {{ (form.display_name(class="form-control", placeholder="Enter your Name",id='display_name'))}}
    {{ (form.email(class="form-control", placeholder="Enter your Email",id='email')) }}
    <label for="username">Username</label>
    {{ (form.username(placeholder="Enter your Username", class="form-control",id='username')) }}
    {{ (form.password(placeholder="Enter your Password", class="form-control",id='password')) }}
    {{ (form.confirm(placeholder="Confirm your Password", class="form-control",id='confirm'))}}
    <input type="submit" class="btn btn-primary btn-lg btn-block login-button" id="submitbutton">
</form>
    <script>

    </script>

{% endblock %}