<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#zsxnavcollapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
		<!-- <a class="navbar-brand" href="#top">TheBombHome</a> -->
			</div>
			<div class="collapse navbar-collapse pull-left" id="zsxnavcollapse">
				<ul class="nav navbar-nav">
					<li><a href="/">НАЧАЛО</a></li>
					<li><a href="/about">ЗА НАС</a></li>
					<li><a href="/categories">КАТЕГОРИИ</a></li>
					<li><a href="mailto:tt@design.com">КОНТАКТ С TT DESIGN STUDIO</a></li>
				</ul>
			</div>
        </div>
	</nav>