/*
 * Custom stylesheet for http://----.ca
 * Initial version on 2016.02.22 intended for the website's temporary page.
 * Modified on 2016.02.27 to share on bootsnipp.com
 *
 * Created by Mathieu Aubin (mathieu@zeroserieux.com)
 *
 * Contribute to have your name here, no matter how small of a change.
 *
 * Licenced under the WTFPL Version 2 (http://www.wtfpl.net/)
 *
 * This program is free software. It comes without any warranty, to
 * the extent permitted by applicable law. You can redistribute it
 * and/or modify it under the terms of the Do What The Fuck You Want
 * To Public License, Version 2, as published by Sam Hocevar. See
 * http://www.wtfpl.net/ for more details.
 *
 */

/* Font-Awesome v4.5.0 - (http://fortawesome.github.io/Font-Awesome/) */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css") all;
/* Google-Fonts */
@import url("https://fonts.googleapis.com/css?family=Buenard:700") all;
@import url("https://fonts.googleapis.com/css?family=Rubik") all;


body {
    #padding-top: 250px;
}

.zsx {
background-color: rgba(81, 166, 208, 0.86);
}

.zsx h1, .zsx h3{
text-align:center;
color:#fff;
}

.zsx h1{
font-size:60px;
font-family:'Buenard', serif;
font-weight:bold;
text-transform:inherit;
margin: 0px auto 0px;
text-shadow: 2px 2px 2px #000;
-webkit-text-shadow: 2px 2px 2px #000;
-moz-text-shadow: 2px 2px 2px #000;
}

.zsx h3{
font-size: 25px;
font-weight:lighter;
margin: 0px auto 15px;
}

.categories {
    font-size: 16px;
    font-family: 'Rubik', serif;
    font-weight: bold;
}

.easeAni {	-webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in;}

.boxTile {  background: #333;  height: 0;  padding-bottom: 50%;  position: relative;  width: 100%;}
.boxTile .square { position: absolute; bottom: 0;  left: 0;  right: 0;  top: 0;}
.boxTile .square img {  display: block;  height: 100%;  width: 50%;}
.boxTile .info {  bottom: 0;  left: 50%;  overflow: hidden;  padding: 0px;  position: absolute;  right: 0;  top: 0;}
.boxTile:hover .info { background: #74be4b;}
.boxTile .text {  color: #FFFFFF;  max-height: 100%;  overflow: hidden;  width: 100%;}
.boxTile .text h2 {  color: #FFF;  display: inline-block;  font-size: 100%;  margin: 8px 0; padding-right:1em;}
.boxTile .text p {  color: #bfd540;  text-transform: uppercase;  white-space: nowrap; font-size: 80%; padding-right:1em;}



@media (max-width: 768px) {

.boxTile .square img {  display: block;  width: 50% !important;  }

}

@media (min-width: 768px) {

.boxTile .square img {  display: block;  width: 50% !important;  }

}


@media (min-width: 1200px) {

.boxTile {  padding-bottom: 100%;  }
.boxTile .square img {  display: block;  width: 100% !important;  }
.boxTile .info {  top: 90%;  background: #000; background: rgba(0, 0, 0, 0.6); filter: alpha(opacity=60);}

}

