{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">

            <h1>Категории продукти</h1>
            <p class="lead">Изберете нашите продукти по категории</p>
    </div>

    <div class="text-center">

            {% for each in data %}

                <article class="col-sm-6 col-md-4">
                        <a href="#">
                          <div class="row">
                              <div class="boxTile">
                                <div class="square">
                                      <img src={{ each['imgPath'] }}>
                                </div>
                                <div class="square info easeAni">
                                  <div class="text">
{#                                    <p>Category Title</p>#}
                                    <h5 class="categories">{{ each['GrupaBG'] }}</h5>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </a>
                </article>

            {% endfor %}

    </div>


{% endblock %}